<%- include("header") -%>

<div class="box" id="heading">
  <h2><%=iniHari%></h2>
</div>

<div class="box">
  <% namaItemBaru.forEach(function(item){ %>

  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" onChange="this.form.submit()" value="<%=item._id%>" />
      <p><%= item.name %></p>
    </div>
    <input type="hidden" name="listName" value="<%=iniHari%>" />
  </form>
  <% }) %>

  <form class="item" action="/" method="post">
    <input type="text" name="namaBarang" placeholder="Item Baru" autocomplete="off" />
    <button type="submit" name="tombol" value="<%=iniHari%>">+</button>
  </form>
</div>

<%- include("footer") -%>
